.oldTweets {
  color: gray;
  border-radius: 10px;
  background-color: white;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .5);

}

.oldTweets:hover > .tweetHeader{
  opacity: 1.0;
}



.oldTweets:hover .icons{
  visibility: visible;
}

.oldTweets:hover {
  /*background: rgba(255, 255, 255, 1);*/
  border: 1px solid rgba(0, 0, 0, 1);
}


.tweetHeader{
  padding: 1px;
  background-color: lightgray;
  height:50px;
  color: black;
  opacity: .6;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.bodyOfTweet {
  height: 100px;
  justify-content: flex-start;
  display: flex;
}
.textOfTweet{
  padding-left: 20px;
  color: darkslategrey;
}
.tweetFooter {
  height: 10%;
  border-top: 1px solid;
  display: flex;
  justify-content: space-between;
}
.tweetFooterText{

  font-size: small;
  margin: 0px;
  padding-left: 5px;
  padding-top: 2.5%;
  color: darkslategrey;
}
.profileImage{
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 5px;

}
.tweeeterHandle {
  align-self: flex-end;
  padding-right: 3px;

  color: grey;
  font-size: x-small;
}
.headerText {

  top: 8px;
  padding-right: 110px;
  font-weight: bold;
  color: darkslategrey;

}


.icons {

  align-self: flex-end;
  color: #00a087;
  margin: 5px;
  visibility: hidden;
}