@import 'vars';

#nav-bar{
  margin: 0;
  color: #e8fdff;
  background-color: #00a087;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $fontSize;
  position: fixed;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


#navbar.row:after {
  content: "";
  display: table;
  clear: both;
}
#nav-bar .logo{
  height: 80px;
  width: 80px;
  float: left;

}
 .header{
  float: left;
  font-size:small;
  padding-left: 10px;
  margin-top: 1%;
  margin-bottom: 1%;

}
.navButton {
  width: 100px;
  height: 60px;
  float: right;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #e8fdff;

}
.navButton:hover{
  background-color: white;
}